= link_to "Bennu Value", root_path, :class => 'brand'
%ul.nav

  - if user_signed_in?


    - if current_user.has_role? :user
      %li
        = link_to 'Activate stickers', "/stickers/activate_index"

    - if current_user.has_role? :admin
      %li
        = link_to 'Manage stickers', stickers_path  # FIXME edit stickers (activate)

      %li
        = link_to 'Manage manufacturers', users_path

      %li
        = link_to 'Manage messages', "/admin/message"



  - else




%ul.nav.pull-right
  - if user_signed_in?
    %li
      = link_to current_user.name , edit_user_registration_path     
    %li
      = link_to 'Logout', destroy_user_session_path, :method=>'delete'
  - else
    %li
      = link_to 'Login', new_user_session_path
    %li
      = link_to 'Manufacturer registration', new_user_registration_path      
